html {
    scroll-behavior: smooth;
}

.left {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.my__project {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
}

.skils {
    flex: 1;
    position: fixed;
    top: 5px;
    right: 40px;
}

header {
    text-align: center;
}

.myContacts {
    text-align: center;
}

.vl {
    border-left: 5px solid aqua;
    height: 1300px;
    margin: 10px;
}

h2 {
    margin-top: 40px;
}

.flexCont {
    position: relative;
}

.info {
    position: absolute;
    font-size: 1.5em;
    left: 300px;
    width: 80%;
}

.lvl {
    position: absolute;
    left: 270px
}

.rvl {
    position: absolute;
    right: 120px
}

pre {
    background-color: beige;
}


/* ul {
    margin: 0px;
} */

footer {
    margin: 0 auto;
    position: relative;
}

time {
    position: absolute;
    left: 50%;
}

.my__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    flex: 2;
}

.aboutMe {
    flex: 5;
}

@media screen and (min-width:2240px) {
    .main {
        position: relative;
        width: 2238px;
    }
    .flexCont {
        position: relative;
    }
    .info {
        position: absolute;
        left: 250px;
        width: 79%;
        font-size: 1.8em;
    }
    .left {
        max-width: 200px;
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
    .centr {
        width: 2238px;
    }
    .skils {
        right: 0px;
        width: 170px;
    }
    .rvl {
        position: absolute;
        right: 170px;
    }
    .lvl {
        position: absolute;
        left: 210px;
    }
    pre {
        width: auto;
        overflow-x: scroll;
        background-color: beige;
    }
    time {
        position: absolute;
        left: 70%;
    }
    .skils {
        position: absolute;
        font-size: 1.4em;
    }
    .vl {
        border-left: 5px solid aqua;
        height: 2400px;
        margin: 10px;
    }
}

@media screen and (max-width:2240px) {
    .main {
        width: 2238px;
    }
    .flexCont {
        position: relative;
    }
    .info {
        position: absolute;
        left: 250px;
        width: 79%;
        font-size: 1.8em;
    }
    .left {
        max-width: 11%;
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
    .centr {
        width: 2238px;
    }
    .skils {
        right: -70px;
        width: 10%;
    }
    .rvl {
        position: absolute;
        right: 170px;
    }
    .lvl {
        position: absolute;
        left: 210px;
    }
    pre {
        width: auto;
        overflow-x: scroll;
        background-color: beige;
    }
    time {
        position: absolute;
        left: 70%;
    }
    .skils {
        font-size: 1.4em;
    }
    .vl {
        border-left: 5px solid aqua;
        height: 2400px;
        margin: 10px;
    }
}

@media screen and (max-width:1502px) {
    .main {
        width: 1500px;
    }
    .flexCont {
        position: relative;
    }
    .info {
        position: absolute;
        left: 250px;
        width: 75%;
        font-size: 1.8em;
    }
    .left {
        max-width: 15%;
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
    .centr {
        width: 1400px;
    }
    .skils {
        right: 0px;
        width: 10%;
    }
    .rvl {
        position: absolute;
        right: 70px;
    }
    .lvl {
        position: absolute;
        left: 210px;
    }
    pre {
        width: auto;
        overflow-x: scroll;
        background-color: beige;
    }
    time {
        position: absolute;
        left: 70%;
    }
    .skils {
        font-size: 1.4em;
    }
    .vl {
        border-left: 5px solid aqua;
        height: 2500px;
        margin: 10px;
    }
}

@media screen and (max-width:992px) {
    .main {
        width: 992px;
    }
    .flexCont {
        position: relative;
    }
    .info {
        position: absolute;
        left: 250px;
        width: 78%;
        font-size: 1.5em;
    }
    .left {
        max-width: 200px;
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
    .centr {
        width: 770px;
    }
    .skils {
        width: 100px;
        right: 20px;
    }
    .rvl {
        position: absolute;
        right: -110px;
    }
    .lvl {
        position: absolute;
        left: 210px;
    }
    pre {
        width: auto;
        overflow-x: scroll;
        background-color: beige;
    }
    time {
        position: absolute;
        left: 70%;
    }
    .skils {
        font-size: 1.4em;
    }
    .vl {
        border-left: 5px solid aqua;
        height: 2200px;
        margin: 10px;
    }
}

@media screen and (max-width:767px) {
    .main {
        max-width: 767px;
    }
    .flexCont {
        position: relative;
    }
    .info {
        position: absolute;
        left: 165px;
        width: 505px;
        font-size: 1.8em;
    }
    .left {
        max-width: 140px;
        height: auto;
        font-size: 0.9em;
    }
    .img__course2 {
        height: 200px;
        width: 150px;
    }
    .text__cv {
        font-size: 1.1em;
    }
    h1 {
        margin-bottom: -10px;
    }
    .mail {
        font-size: 0.7em;
    }
    .centr {
        max-width: 670px;
    }
    .skils {
        right: 30px;
        width: 70px;
        font-size: 10em;
    }
    .text__skills {
        margin: 0 auto;
        text-align: left;
        font-size: 0.7em;
    }
    .text__skills2 {
        margin: 0 auto;
        text-align: right;
        margin-top: 20px;
        font-size: 0.6em;
    }
    .rvl {
        position: absolute;
        right: -25px;
    }
    .lvl {
        position: absolute;
        left: 140px;
    }
    pre {
        width: auto;
        overflow-x: scroll;
        background-color: beige;
    }
    time {
        position: absolute;
        left: 50%;
        top: 160px;
    }
    .skils {
        font-size: 1.4em;
    }
    .vl {
        border-left: 5px solid aqua;
        height: 2800px;
        margin: 10px;
    }
    .all__project {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 28px;
        top: 120px;
    }
}